<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <meta name="viewport" content="width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>#map_0086e4e425bf4096a4ab493598849e74 {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body>    
    
    <div class="folium-map" id="map_0086e4e425bf4096a4ab493598849e74" ></div>
</body>
<script>    
    
    
        var southWest = L.latLng(-90, -180);
        var northEast = L.latLng(90, 180);
        var bounds = L.latLngBounds(southWest, northEast);
    

    var map_0086e4e425bf4096a4ab493598849e74 = L.map(
        'map_0086e4e425bf4096a4ab493598849e74', {
        center: [47.083333, 2.4],
        zoom: 6,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: false,
        });


    
    var tile_layer_de1ceab9d920408d829eab108df1fb07 = L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 2,
        "noWrap": true,
        "opacity": 1,
        "subdomains": "abc",
        "tms": false
}).addTo(map_0086e4e425bf4096a4ab493598849e74);
    
        var marker_7edfd22b21074d17a0bb341871bfd354 = L.marker(
            [49.052502, 2.03883],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0086e4e425bf4096a4ab493598849e74);
        
    

                var icon_40a88908c66041b8b7d8ac7475170145 = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_7edfd22b21074d17a0bb341871bfd354.setIcon(icon_40a88908c66041b8b7d8ac7475170145);
            
    
        var marker_10ec4bb8151a41a1b9a7a504ea21f5c0 = L.marker(
            [43.297539, -0.37464],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0086e4e425bf4096a4ab493598849e74);
        
    

                var icon_ebefc681eee848dc964d901e3bd62095 = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'black',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_10ec4bb8151a41a1b9a7a504ea21f5c0.setIcon(icon_ebefc681eee848dc964d901e3bd62095);
            
    
        var marker_a23e9467738048e4814cacac1c81d85a = L.marker(
            [49.0527528, 2.0388736],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0086e4e425bf4096a4ab493598849e74);
        
    

                var icon_2e1398a60b7248588552db21ff098e68 = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_a23e9467738048e4814cacac1c81d85a.setIcon(icon_2e1398a60b7248588552db21ff098e68);
            
    
            var popup_262eaa95dbce41edbcbf4ac0c81e6472 = L.popup({maxWidth: '100%'
            
            });

            
                var html_4ab59557719e4185b34452d531dc2ac5 = $(`<div id="html_4ab59557719e4185b34452d531dc2ac5" style="width: 100.0%; height: 100.0%;">CERGY</div>`)[0];
                popup_262eaa95dbce41edbcbf4ac0c81e6472.setContent(html_4ab59557719e4185b34452d531dc2ac5);
            

            marker_a23e9467738048e4814cacac1c81d85a.bindPopup(popup_262eaa95dbce41edbcbf4ac0c81e6472)
            ;

            
        
    
        var marker_9d9b64c152b14a3cbe932cb409f290ed = L.marker(
            [48.8566101, 2.3514992],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0086e4e425bf4096a4ab493598849e74);
        
    

                var icon_f43c32184deb434aaa2856645fe3a6c7 = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_9d9b64c152b14a3cbe932cb409f290ed.setIcon(icon_f43c32184deb434aaa2856645fe3a6c7);
            
    
            var popup_7625d4895ba843bf85b16bd3a812959d = L.popup({maxWidth: '100%'
            
            });

            
                var html_f8afcd017d6a4f2188cb7d54b0c8d587 = $(`<div id="html_f8afcd017d6a4f2188cb7d54b0c8d587" style="width: 100.0%; height: 100.0%;">PARIS</div>`)[0];
                popup_7625d4895ba843bf85b16bd3a812959d.setContent(html_f8afcd017d6a4f2188cb7d54b0c8d587);
            

            marker_9d9b64c152b14a3cbe932cb409f290ed.bindPopup(popup_7625d4895ba843bf85b16bd3a812959d)
            ;

            
        
    
        var marker_b788e4746a8a430fb29e40454ce77f9e = L.marker(
            [49.0508845, 2.1008067],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0086e4e425bf4096a4ab493598849e74);
        
    

                var icon_326f7c6f05394344862fa95593ee6544 = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_b788e4746a8a430fb29e40454ce77f9e.setIcon(icon_326f7c6f05394344862fa95593ee6544);
            
    
            var popup_d7170beea6f047b69fa5ceacf8ab6ba2 = L.popup({maxWidth: '100%'
            
            });

            
                var html_e4d3face73d74e26aacfb8906ea15aa3 = $(`<div id="html_e4d3face73d74e26aacfb8906ea15aa3" style="width: 100.0%; height: 100.0%;">PONTOISE</div>`)[0];
                popup_d7170beea6f047b69fa5ceacf8ab6ba2.setContent(html_e4d3face73d74e26aacfb8906ea15aa3);
            

            marker_b788e4746a8a430fb29e40454ce77f9e.bindPopup(popup_d7170beea6f047b69fa5ceacf8ab6ba2)
            ;

            
        
    
        var marker_3c939488c1c2473c9d4f17acfe3f0df7 = L.marker(
            [48.8953328, 2.2561602],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0086e4e425bf4096a4ab493598849e74);
        
    

                var icon_655f77fd78854fd182c7d5b6ea9d4d4c = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_3c939488c1c2473c9d4f17acfe3f0df7.setIcon(icon_655f77fd78854fd182c7d5b6ea9d4d4c);
            
    
            var popup_11b5b00a9b39478f9ed14127e1bdf03b = L.popup({maxWidth: '100%'
            
            });

            
                var html_9a93abbfc45844218298672a8a23eb63 = $(`<div id="html_9a93abbfc45844218298672a8a23eb63" style="width: 100.0%; height: 100.0%;">COURBEVOIE</div>`)[0];
                popup_11b5b00a9b39478f9ed14127e1bdf03b.setContent(html_9a93abbfc45844218298672a8a23eb63);
            

            marker_3c939488c1c2473c9d4f17acfe3f0df7.bindPopup(popup_11b5b00a9b39478f9ed14127e1bdf03b)
            ;

            
        
    
        var marker_b5a053b5a6fb45d6add6314d06c61b7a = L.marker(
            [49.0497497, 2.0330489],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0086e4e425bf4096a4ab493598849e74);
        
    

                var icon_91d59b211f664c09b38a75fdb3eba376 = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_b5a053b5a6fb45d6add6314d06c61b7a.setIcon(icon_91d59b211f664c09b38a75fdb3eba376);
            
    
            var popup_e7187b1d7ce245a28a6458c6f4d8c879 = L.popup({maxWidth: '100%'
            
            });

            
                var html_976199c3590147a79c18e3d0cf251237 = $(`<div id="html_976199c3590147a79c18e3d0cf251237" style="width: 100.0%; height: 100.0%;">CERGY ST CHRISTOPHE</div>`)[0];
                popup_e7187b1d7ce245a28a6458c6f4d8c879.setContent(html_976199c3590147a79c18e3d0cf251237);
            

            marker_b5a053b5a6fb45d6add6314d06c61b7a.bindPopup(popup_e7187b1d7ce245a28a6458c6f4d8c879)
            ;

            
        
    
        var marker_ef2bb710a5a74ff6866c026e258be97b = L.marker(
            [48.9479069, 2.2481797],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0086e4e425bf4096a4ab493598849e74);
        
    

                var icon_bef31034fb0b4507b8c7094cc87b74cb = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_ef2bb710a5a74ff6866c026e258be97b.setIcon(icon_bef31034fb0b4507b8c7094cc87b74cb);
            
    
            var popup_ef2de4de1ff3407ea7f1a12c1a2b73cc = L.popup({maxWidth: '100%'
            
            });

            
                var html_53a9f469f84d4fc49670261f5794a8a0 = $(`<div id="html_53a9f469f84d4fc49670261f5794a8a0" style="width: 100.0%; height: 100.0%;">ARGENTEUIL</div>`)[0];
                popup_ef2de4de1ff3407ea7f1a12c1a2b73cc.setContent(html_53a9f469f84d4fc49670261f5794a8a0);
            

            marker_ef2bb710a5a74ff6866c026e258be97b.bindPopup(popup_ef2de4de1ff3407ea7f1a12c1a2b73cc)
            ;

            
        
    
        var marker_39294fd2f48348359de176cb115d8d21 = L.marker(
            [49.0135534, 2.0623676],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0086e4e425bf4096a4ab493598849e74);
        
    

                var icon_10315fd3fbc94ab1938b825abe85b83e = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_39294fd2f48348359de176cb115d8d21.setIcon(icon_10315fd3fbc94ab1938b825abe85b83e);
            
    
            var popup_ca6cf1cded604ad9b40e90198dd0be7b = L.popup({maxWidth: '100%'
            
            });

            
                var html_36a506dd003c4d358abb489786e3650c = $(`<div id="html_36a506dd003c4d358abb489786e3650c" style="width: 100.0%; height: 100.0%;">NEUVILLE SUR OISE</div>`)[0];
                popup_ca6cf1cded604ad9b40e90198dd0be7b.setContent(html_36a506dd003c4d358abb489786e3650c);
            

            marker_39294fd2f48348359de176cb115d8d21.bindPopup(popup_ca6cf1cded604ad9b40e90198dd0be7b)
            ;

            
        
    
        var marker_594061a529d141de97de92ad9315559c = L.marker(
            [49.0300763, 2.0205773],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0086e4e425bf4096a4ab493598849e74);
        
    

                var icon_33a976d2a3164263bf77d12a614ec674 = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_594061a529d141de97de92ad9315559c.setIcon(icon_33a976d2a3164263bf77d12a614ec674);
            
    
            var popup_857a28467b72427ca899ab67f00a597c = L.popup({maxWidth: '100%'
            
            });

            
                var html_a262a674ee0f4a0bbf8736cae0eba40c = $(`<div id="html_a262a674ee0f4a0bbf8736cae0eba40c" style="width: 100.0%; height: 100.0%;">VAUREAL</div>`)[0];
                popup_857a28467b72427ca899ab67f00a597c.setContent(html_a262a674ee0f4a0bbf8736cae0eba40c);
            

            marker_594061a529d141de97de92ad9315559c.bindPopup(popup_857a28467b72427ca899ab67f00a597c)
            ;

            
        
    
        var marker_dc011eee012d4d2cac702a69158d7646 = L.marker(
            [49.0487859, 2.0123707],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0086e4e425bf4096a4ab493598849e74);
        
    

                var icon_40e91abce7814ba5a369ed0311da8548 = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_dc011eee012d4d2cac702a69158d7646.setIcon(icon_40e91abce7814ba5a369ed0311da8548);
            
    
            var popup_8bedd8c084b3414c8a3e096398080a6e = L.popup({maxWidth: '100%'
            
            });

            
                var html_b2c8d9d1cfe8427097772a796a691870 = $(`<div id="html_b2c8d9d1cfe8427097772a796a691870" style="width: 100.0%; height: 100.0%;">CERGY LE HAUT</div>`)[0];
                popup_8bedd8c084b3414c8a3e096398080a6e.setContent(html_b2c8d9d1cfe8427097772a796a691870);
            

            marker_dc011eee012d4d2cac702a69158d7646.bindPopup(popup_8bedd8c084b3414c8a3e096398080a6e)
            ;

            
        
    
        var marker_f73ce6bb897e4dd3835325b87e318535 = L.marker(
            [48.9409016, 2.1585037],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0086e4e425bf4096a4ab493598849e74);
        
    

                var icon_47506c75bfd54176a496e8c2c8872b26 = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_f73ce6bb897e4dd3835325b87e318535.setIcon(icon_47506c75bfd54176a496e8c2c8872b26);
            
    
            var popup_4a9a5776ae094dbab4b21d278b01fb76 = L.popup({maxWidth: '100%'
            
            });

            
                var html_bd8b1eaa20dd4220b36fc0ae53e1bdfe = $(`<div id="html_bd8b1eaa20dd4220b36fc0ae53e1bdfe" style="width: 100.0%; height: 100.0%;">SARTROUVILLE</div>`)[0];
                popup_4a9a5776ae094dbab4b21d278b01fb76.setContent(html_bd8b1eaa20dd4220b36fc0ae53e1bdfe);
            

            marker_f73ce6bb897e4dd3835325b87e318535.bindPopup(popup_4a9a5776ae094dbab4b21d278b01fb76)
            ;

            
        
    
        var marker_7d3c02fe9a694c6a8d445858664e1f20 = L.marker(
            [49.0527528, 2.0388736],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0086e4e425bf4096a4ab493598849e74);
        
    

                var icon_ca539c7046a84fb48d28eadf2db1d779 = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_7d3c02fe9a694c6a8d445858664e1f20.setIcon(icon_ca539c7046a84fb48d28eadf2db1d779);
            
    
            var popup_300bf3202eae43ee80a5f1567c9f9054 = L.popup({maxWidth: '100%'
            
            });

            
                var html_3f84d4c73342471d88f69b993cc2ef44 = $(`<div id="html_3f84d4c73342471d88f69b993cc2ef44" style="width: 100.0%; height: 100.0%;">CERGY PONTOISE</div>`)[0];
                popup_300bf3202eae43ee80a5f1567c9f9054.setContent(html_3f84d4c73342471d88f69b993cc2ef44);
            

            marker_7d3c02fe9a694c6a8d445858664e1f20.bindPopup(popup_300bf3202eae43ee80a5f1567c9f9054)
            ;

            
        
    
        var marker_32dbd39071ee4c9291f4f2f71e84a611 = L.marker(
            [49.0660487, 2.0614598],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0086e4e425bf4096a4ab493598849e74);
        
    

                var icon_8afe9b06a48d43e4bcc60b030fb0eb1d = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_32dbd39071ee4c9291f4f2f71e84a611.setIcon(icon_8afe9b06a48d43e4bcc60b030fb0eb1d);
            
    
            var popup_32e88e99c2034152be35239f6f7e4edf = L.popup({maxWidth: '100%'
            
            });

            
                var html_6bfae5695bfc479694462c48aa8951e4 = $(`<div id="html_6bfae5695bfc479694462c48aa8951e4" style="width: 100.0%; height: 100.0%;">OSNY</div>`)[0];
                popup_32e88e99c2034152be35239f6f7e4edf.setContent(html_6bfae5695bfc479694462c48aa8951e4);
            

            marker_32dbd39071ee4c9291f4f2f71e84a611.bindPopup(popup_32e88e99c2034152be35239f6f7e4edf)
            ;

            
        
    
        var marker_3d9efe45a5a84130b106ce5b6d069624 = L.marker(
            [48.9897164, 2.1656595],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0086e4e425bf4096a4ab493598849e74);
        
    

                var icon_c401a2e61e7d43a3b5fd4866d0744009 = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_3d9efe45a5a84130b106ce5b6d069624.setIcon(icon_c401a2e61e7d43a3b5fd4866d0744009);
            
    
            var popup_d93e088a9f704ebd99346a72f76b9849 = L.popup({maxWidth: '100%'
            
            });

            
                var html_025f0f26ec604a1f89a3a40d915927b8 = $(`<div id="html_025f0f26ec604a1f89a3a40d915927b8" style="width: 100.0%; height: 100.0%;">HERBLAY</div>`)[0];
                popup_d93e088a9f704ebd99346a72f76b9849.setContent(html_025f0f26ec604a1f89a3a40d915927b8);
            

            marker_3d9efe45a5a84130b106ce5b6d069624.bindPopup(popup_d93e088a9f704ebd99346a72f76b9849)
            ;

            
        
    
        var marker_7eaaff8dfddf46cf84121b35b5b2afdf = L.marker(
            [49.0116, 2.03194],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0086e4e425bf4096a4ab493598849e74);
        
    

                var icon_af47f85c93c1476d9d731a36fce1ec7d = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_7eaaff8dfddf46cf84121b35b5b2afdf.setIcon(icon_af47f85c93c1476d9d731a36fce1ec7d);
            
    
            var popup_14634b2d6e55441d9e882e45b7b68544 = L.popup({maxWidth: '100%'
            
            });

            
                var html_1f60ace509184936a02800612a85a937 = $(`<div id="html_1f60ace509184936a02800612a85a937" style="width: 100.0%; height: 100.0%;">JOUY LE MOUTIER</div>`)[0];
                popup_14634b2d6e55441d9e882e45b7b68544.setContent(html_1f60ace509184936a02800612a85a937);
            

            marker_7eaaff8dfddf46cf84121b35b5b2afdf.bindPopup(popup_14634b2d6e55441d9e882e45b7b68544)
            ;

            
        
    
        var marker_9affca80a7504db88ba57500536d4ca2 = L.marker(
            [48.87778, 2.1802832],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0086e4e425bf4096a4ab493598849e74);
        
    

                var icon_6377dee0e2f54c9aa29246ac369378f2 = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_9affca80a7504db88ba57500536d4ca2.setIcon(icon_6377dee0e2f54c9aa29246ac369378f2);
            
    
            var popup_531e674445d84e1885380b58d6047367 = L.popup({maxWidth: '100%'
            
            });

            
                var html_d51fb1e2720e4b1890f2ab3330df1953 = $(`<div id="html_d51fb1e2720e4b1890f2ab3330df1953" style="width: 100.0%; height: 100.0%;">RUEIL MALMAISON</div>`)[0];
                popup_531e674445d84e1885380b58d6047367.setContent(html_d51fb1e2720e4b1890f2ab3330df1953);
            

            marker_9affca80a7504db88ba57500536d4ca2.bindPopup(popup_531e674445d84e1885380b58d6047367)
            ;

            
        
    
        var marker_9a312bda48034002aeadf0d62777a2c7 = L.marker(
            [49.0354894, 1.999555],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0086e4e425bf4096a4ab493598849e74);
        
    

                var icon_19ec0e293a4442d0ac8e88849ac99a69 = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_9a312bda48034002aeadf0d62777a2c7.setIcon(icon_19ec0e293a4442d0ac8e88849ac99a69);
            
    
            var popup_a5edb1c5b3e0419486d21024cbb30105 = L.popup({maxWidth: '100%'
            
            });

            
                var html_9f02d27bc40c4b0b93a558e3ba7c8f7b = $(`<div id="html_9f02d27bc40c4b0b93a558e3ba7c8f7b" style="width: 100.0%; height: 100.0%;">COURDIMANCHE</div>`)[0];
                popup_a5edb1c5b3e0419486d21024cbb30105.setContent(html_9f02d27bc40c4b0b93a558e3ba7c8f7b);
            

            marker_9a312bda48034002aeadf0d62777a2c7.bindPopup(popup_a5edb1c5b3e0419486d21024cbb30105)
            ;

            
        
    
        var marker_36872e7879894dd7b463a8e75e7a4a0b = L.marker(
            [48.922788, 2.2543577],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0086e4e425bf4096a4ab493598849e74);
        
    

                var icon_e4bc0edcdc40421983f17032b390a56c = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_36872e7879894dd7b463a8e75e7a4a0b.setIcon(icon_e4bc0edcdc40421983f17032b390a56c);
            
    
            var popup_315613aae28741789e2f61643abc6c02 = L.popup({maxWidth: '100%'
            
            });

            
                var html_4081660566354eff85c67ea12bcbca8e = $(`<div id="html_4081660566354eff85c67ea12bcbca8e" style="width: 100.0%; height: 100.0%;">COLOMBES</div>`)[0];
                popup_315613aae28741789e2f61643abc6c02.setContent(html_4081660566354eff85c67ea12bcbca8e);
            

            marker_36872e7879894dd7b463a8e75e7a4a0b.bindPopup(popup_315613aae28741789e2f61643abc6c02)
            ;

            
        
    
        var marker_22f989eb707544468ebe112698e27e59 = L.marker(
            [48.8924273, 2.2071267],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0086e4e425bf4096a4ab493598849e74);
        
    

                var icon_7e39bb2bfbfa4dbcaa7ca3be9137bdc2 = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_22f989eb707544468ebe112698e27e59.setIcon(icon_7e39bb2bfbfa4dbcaa7ca3be9137bdc2);
            
    
            var popup_6d9fe45c92044c3dac9aac7025312db8 = L.popup({maxWidth: '100%'
            
            });

            
                var html_4272c1f66cc04c9582a7c071d2b86e93 = $(`<div id="html_4272c1f66cc04c9582a7c071d2b86e93" style="width: 100.0%; height: 100.0%;">NANTERRE</div>`)[0];
                popup_6d9fe45c92044c3dac9aac7025312db8.setContent(html_4272c1f66cc04c9582a7c071d2b86e93);
            

            marker_22f989eb707544468ebe112698e27e59.bindPopup(popup_6d9fe45c92044c3dac9aac7025312db8)
            ;

            
        
    
        var marker_83cb26e61b6648e49792ad0e7c590f5a = L.marker(
            [43.2957547, -0.3685668],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0086e4e425bf4096a4ab493598849e74);
        
    

                var icon_3b93763e563041839250d92fe852422c = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_83cb26e61b6648e49792ad0e7c590f5a.setIcon(icon_3b93763e563041839250d92fe852422c);
            
    
            var popup_733533d6f7634e9ca7e3004a7842b969 = L.popup({maxWidth: '100%'
            
            });

            
                var html_64a4f5677fbb43d082a6d6f63fdb10dc = $(`<div id="html_64a4f5677fbb43d082a6d6f63fdb10dc" style="width: 100.0%; height: 100.0%;">PAU</div>`)[0];
                popup_733533d6f7634e9ca7e3004a7842b969.setContent(html_64a4f5677fbb43d082a6d6f63fdb10dc);
            

            marker_83cb26e61b6648e49792ad0e7c590f5a.bindPopup(popup_733533d6f7634e9ca7e3004a7842b969)
            ;

            
        
    
        var marker_1b59a875f63c4ec7907658c7bf793038 = L.marker(
            [43.6044622, 1.4442469],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0086e4e425bf4096a4ab493598849e74);
        
    

                var icon_d5d511d20d524a33940920d2255d6b6d = L.AwesomeMarkers.icon({
                    icon: 'cloud',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_1b59a875f63c4ec7907658c7bf793038.setIcon(icon_d5d511d20d524a33940920d2255d6b6d);
            
    
            var popup_8e41e33b9dd746fbbb7bcaf5c870ae1c = L.popup({maxWidth: '100%'
            
            });

            
                var html_3f15ee9c118f4daca68809fb186d0e0f = $(`<div id="html_3f15ee9c118f4daca68809fb186d0e0f" style="width: 100.0%; height: 100.0%;">TOULOUSE</div>`)[0];
                popup_8e41e33b9dd746fbbb7bcaf5c870ae1c.setContent(html_3f15ee9c118f4daca68809fb186d0e0f);
            

            marker_1b59a875f63c4ec7907658c7bf793038.bindPopup(popup_8e41e33b9dd746fbbb7bcaf5c870ae1c)
            ;

            
        
</script>