<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <meta name="viewport" content="width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>#map_0a7f1063df8f40b9888e660485d7c7b2 {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-dvf/0.3.0/leaflet-dvf.markers.min.js"></script>
</head>
<body>    
    
    <div class="folium-map" id="map_0a7f1063df8f40b9888e660485d7c7b2" ></div>
</body>
<script>    
    
    
        var bounds = null;
    

    var map_0a7f1063df8f40b9888e660485d7c7b2 = L.map(
        'map_0a7f1063df8f40b9888e660485d7c7b2', {
        center: [43.6051074, 1.3903425],
        zoom: 10,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });


    
    var tile_layer_875e90b193e14933a719c394be3af1c5 = L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "opacity": 1,
        "subdomains": "abc",
        "tms": false
}).addTo(map_0a7f1063df8f40b9888e660485d7c7b2);
    
        var marker_01f23d057be8427fbbc46b31d52c20c3 = L.marker(
            [43.6051074, 1.3903425],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0a7f1063df8f40b9888e660485d7c7b2);
        
    

                var icon_b15db7ee266b436abce64ba68a3cf972 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_01f23d057be8427fbbc46b31d52c20c3.setIcon(icon_b15db7ee266b436abce64ba68a3cf972);
            
    
        var marker_c15baffc501644f99af5df2cb16b8e96 = L.marker(
            [43.31726632, -0.345934294],
            {
                icon: new L.Icon.Default(),
                }
            ).addTo(map_0a7f1063df8f40b9888e660485d7c7b2);
        
    

                var icon_6c4a6440b0694f0e94595acb4e7cdf8a = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_c15baffc501644f99af5df2cb16b8e96.setIcon(icon_6c4a6440b0694f0e94595acb4e7cdf8a);
            
    
                var poly_line_0e985bbe9f5446cf9a8f2ebf610002d3 = L.polyline(
                    [[43.6051074, 1.3903425], [43.31726632, -0.345934294]],
                    {
  "bubblingMouseEvents": true,
  "color": "blue",
  "dashArray": null,
  "dashOffset": null,
  "fill": false,
  "fillColor": "blue",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "noClip": false,
  "opacity": 1.0,
  "smoothFactor": 1.0,
  "stroke": true,
  "weight": 3
}
                    )
                    .addTo(map_0a7f1063df8f40b9888e660485d7c7b2);
            
    
            var regular_polygon_marker_37f91ea931894a039b60248a9b46febe = new L.RegularPolygonMarker(
                new L.LatLng(43.53314713,0.9562733015),
                {
                    icon : new L.Icon.Default(),
                    color: 'black',
                    opacity: 1,
                    weight: 2,
                    fillColor: 'blue',
                    fillOpacity: 1,
                    numberOfSides: 3,
                    rotation: 167.73258425500865,
                    radius: 6
                    }
                ).addTo(map_0a7f1063df8f40b9888e660485d7c7b2);
            
    
            var regular_polygon_marker_a1e740757f694bce86563257a601519d = new L.RegularPolygonMarker(
                new L.LatLng(43.46118686,0.522204103),
                {
                    icon : new L.Icon.Default(),
                    color: 'black',
                    opacity: 1,
                    weight: 2,
                    fillColor: 'blue',
                    fillOpacity: 1,
                    numberOfSides: 3,
                    rotation: 167.73258425500865,
                    radius: 6
                    }
                ).addTo(map_0a7f1063df8f40b9888e660485d7c7b2);
            
    
            var regular_polygon_marker_595577e0b2d044b28df32502729c1570 = new L.RegularPolygonMarker(
                new L.LatLng(43.38922659,0.08813490449999994),
                {
                    icon : new L.Icon.Default(),
                    color: 'black',
                    opacity: 1,
                    weight: 2,
                    fillColor: 'blue',
                    fillOpacity: 1,
                    numberOfSides: 3,
                    rotation: 167.73258425500865,
                    radius: 6
                    }
                ).addTo(map_0a7f1063df8f40b9888e660485d7c7b2);
            
</script>